/* Colors and fonts */
html, body {
  height: 100%;
  width: 100%;
  background: #E9E4F1;
  color: #544B81;
  font-family: Futura;
  font-size: 18px;
}
h1 {
  color: #6F3E8E;
  font-family: Lucida Bright;
  font-size: 38px;
}
h2 {
  color: #231942;
  font-size: 28px;
  font-weight: lighter;
}
a {
  text-decoration: none;
  color: #B464C1;
}
a:hover {
  color: #DF509F;
}


/* Custom design with class */
.img-circle {
  width: 200px;
  border-radius: 50%;
}
.btn-purple {
  background-color: #B464C1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-purple:hover {
  background-color: #544B81;
  color: #E9E4F1;
}
.container {
  width: 800px;
  margin: 40px auto;
}
.card-white {
  background: white;
  padding: 40px;
  margin: 20px 0px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  text-align: center;
}
.list-inline{
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: #E9E4F1;
}
.list-inline i:hover {
  color: #DF509F;
}

/* Responsive design */
@media (max-width: 760px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 400px;
  }
}

/* Custome design with id */
#introduction p {
  margin-bottom: 40px;
}
#citation {
  background: #E9E4F1;
  padding: 20px;
}